.section-container {
    display: flex;
    flex-direction: column;
}
  
.section-container > * {
  width: 60%;
  margin-left: 20%; 
  margin-right: 20%;
}


.center {
    margin-top: 7%;
    
}

.tittle {
    text-align: center;
}

.text-box {
    width: 70%;
    height: auto;
}

.tittle-section {
    width: 30%;
}

.new-section {
    margin-left: 20%; 
    margin-bottom: 1%;
}

.create-form {
    float: right;
    margin-left: 20%; 
    margin-right: 20%;
    margin-bottom: 2%;
}

/* div button {
    float: right;
} */