<app-toolbar></app-toolbar>
<br>
<br>
<br>
<br>

<h1 class="center-text"> Revisión de {{taskName}}</h1>

<table mat-table [dataSource]="reviewData" class="mat-elevation-z8 table1">
    
    <ng-container matColumnDef="author" >
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let review" class="width-tittle"> 
            <b>{{review.tittle}}</b>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let review" class="width-description"> 
                <div *ngIf="review.isText else file">
                    {{review.description}} 
                </div>
    
                <ng-template #file>
                    <a href="{{APILink}}/{{review.path}}" target="_blank">Descargar documento</a>
                </ng-template>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsHeaderToDisplay" ></tr>
    <tr mat-row *matRowDef="let row; columns: columnsHeaderToDisplay;"></tr>
</table>

<br>
<br>
    <ng-template #section>
    </ng-template>
<br>

<div class="section-container">
    <div>
        <mat-form-field class="tittle-section">
            <input matInput disabled="true" maxlength="30" placeholder="Comentario">
        </mat-form-field>
    </div>
    <p>
        <mat-form-field appearance="outline" class="text-box">
            <mat-label>Sección no obligatoria</mat-label>
            <textarea [(ngModel)]="comment" 
                    matInput maxlength="300" rows="5">
            </textarea>
        </mat-form-field>
    </p>
</div>
<button mat-raised-button class="form-button" color="primary" (click)="saveForm()">Enviar revisión</button>