.material-icons { 
    font-size: 36px;
}

a.add-button {
    float: right;   
    margin-left:15%; 
    margin-right:15%;
    margin-bottom:0.5%;
    color: black;
}

table.table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    overflow: hidden;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
}

.button-edit {
  padding: 0% !important;
  width: 100px;
}

.button-size {
  font-size: 34px;
}

.button-size:hover {
  cursor: pointer;
}

i ~ i {
  margin-left: 24px;
}

.tooltip-red {
  background: #b71c1c;
}