<div class="section-container">
    <div>
        <mat-form-field  hintLabel="Máximo 30 carácteres" class="tittle-section">
            <input matInput maxlength="30" placeholder="Ingrese el título de la sección" id="descriptionTittle[{{idNumber}}]">
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint> -->
        </mat-form-field>
    </div>
    <p>
        <mat-form-field appearance="outline" class="text-box">
            <mat-label>Descripción de la sección</mat-label>
            <textarea id="descriptionDetail[{{idNumber}}]" matInput maxlength="300" rows="5"></textarea>
              
            <!-- <mat-hint>{{input.value?.length || 0}}/300</mat-hint> -->
        </mat-form-field>
    </p>
    <mat-divider></mat-divider>
    <br>
</div>