.section-container {
    display: flex;
    flex-direction: column;
}
  
.section-container > *{
  width: 80%;
  margin-left: 20%; 
  margin-right: 20%;
}


.center {
    margin-top: 7%;
    
}

.tittle {
    text-align: center;
}

.text-box {
    width: 32%;
}

.new-section {
    margin-left: 20%; 
    margin-bottom: 1%;
}

.create-form {
    float: right;
    margin-left: 20%; 
    margin-right: 20%;
    margin-bottom: 2%;
}

.right-space {
    margin-left: 11.39%; 
}

.new-document-button {
    width: 15% !important;
}

.next-button {
    width: 15% !important;
    margin-left: 70% !important;
}

.date-section {
    /* display: inline-block !important; */
    width: 20% !important;
}

.tittle-section {
    width: 20% !important;
    /* display: inline-block !important; */
}