<app-toolbar></app-toolbar>
<div class="center">
    <h1 class="tittle">Nueva tarea</h1>

    <form class="section-container" [formGroup]="newTaskForm" (ngSubmit)="next()">
        
        
            <mat-form-field  hintLabel="Máximo 30 carácteres" class="tittle-section">
                <input matInput #input maxlength="30" placeholder="Nombre de la tarea" formControlName="taskName">
                <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
                <mat-error *ngIf="form.taskName.hasError('required')">Ingrese un nombre</mat-error>
            </mat-form-field>
        
            <br>
            <mat-form-field class="date-section">
                <input matInput [matDatepicker]="visibilityDate" placeholder="Fecha de visibilidad" formControlName="visibilityDate" required>
                <mat-datepicker-toggle matSuffix [for]="visibilityDate"></mat-datepicker-toggle>
                <mat-datepicker #visibilityDate disabled="false"></mat-datepicker>
                <mat-error *ngIf="form.visibilityDate.hasError('required')">Ingrese una fecha</mat-error>
            </mat-form-field>

            <mat-form-field class="date-section">
                <input matInput [matDatepicker]="deadline" placeholder="Fecha límite de entrega" id="deadline" formControlName="deadline" required>
                <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
                <mat-datepicker #deadline disabled="false"></mat-datepicker>
                <mat-error *ngIf="form.deadline.hasError('required')">Ingrese una fecha</mat-error>
            </mat-form-field>
        
        <ng-template #requestedDocuments>
        </ng-template>
        <br>
        <!-- <button class="new-document-button" type="button" mat-raised-button (click)="addDocument()">Agregar documento requerido</button> -->
        <button class="next-button" type="submit" mat-raised-button color="primary">Siguiente</button>
    </form>
    
    
</div>
