<app-toolbar></app-toolbar>

<br>
<br>
<br>

<div class="tittle-students">
    <h2 >{{taskName}}</h2>
    <a class="add-section" mat-raised-button [routerLink]="['/proffesor/task/edit/', idTask]">Editar fecha límite</a>
</div>



<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 table1">
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Estudiante </th>
            <td mat-cell *matCellDef="let studentTask"> 
                <div *ngIf="isSubmitted(studentTask.taskState) else noSubmitted">
                    <a [routerLink]="['/proffesor/task/submitted', studentTask.idTask, studentTask.idTaskSubmitted, studentTask.idStudent]"> {{studentTask.studentName}} </a> 
                </div>
                <ng-template #noSubmitted>
                    <p>{{studentTask.studentName}}</p>
                </ng-template>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> Estado del trabajo </th>
            <td mat-cell *matCellDef="let studentTask"> 
                {{studentTask.taskState}}
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let studentTask"> 
                <div *ngIf="isSubmitted(studentTask.taskState)">
                    <!-- <a class="material-icons" title="Asignar aula" [routerLink]="['/proffesors/new/assign/classroom/', studentTask.idTaskSubmitted]">
                        meeting_room
                    </a> -->

                    <!-- Asignar tribunal para cada tarea-->
                    <!-- <a [routerLink]="['/proffesor/reviewers', studentTask.idTaskSubmitted]" 
                        *ngIf="!studentTask.areReviewersAssigned else editReviewers" 
                        class="material-icons" matTooltip="Asignar tribunal">
                        person_add
                    </a> -->

                    <a [routerLink]="['/proffesor/task/submitted', studentTask.idTask, studentTask.idTaskSubmitted,studentTask.idStudent]"
                        class="material-icons margin-left" matTooltip="Ver detalles">
                        description
                    </a>  
                    
                    <ng-template #editReviewers>
                            <!-- proffesor/reviewers/edit/:idSubmittedTask/:idTask/:idStudent -->
                        <a [routerLink]="['/proffesor/reviewers/edit', studentTask.idTaskSubmitted, studentTask.idTask, studentTask.idStudent]" 
                            class="material-icons margin-left" matTooltip="Editar revisores">
                            people
                        </a>
                    </ng-template>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsHeaderToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsHeaderToDisplay;"
          class="example-element-row">
        </tr>
</table>