<app-toolbar></app-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Nueva materia</mat-card-title>
      </mat-card-header>
      <br>
      <br>
      <form class="example-form" [formGroup]="subjectForm" (ngSubmit)="onRegisterSubject()">
  
        <mat-card-content>
            <mat-label ><strong>Seleccione una materia: </strong></mat-label>
            <mat-radio-group [value]="selected" formControlName="subjectSelected" required>
              <mat-radio-button class="example-radio-button" *ngFor="let subject of subjects" [value]="subject">
                {{subject}}
              </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="form.subjectSelected.hasError('required') && isFormSubmitted">Seleccione una materia</mat-error>
            <br>
            <br>

            <mat-label ><strong>Seleccione el semestre: </strong></mat-label>
            <mat-radio-group class="top-space" [value]="selected" formControlName="semesterSelected">
              <mat-radio-button class="example-radio-button" *ngFor="let semester of semesters" [value]="semester">
                {{semester}}
              </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="form.semesterSelected.hasError('required') && isFormSubmitted">Seleccione un semestre</mat-error>
        </mat-card-content>
        <br>
        <br>
        <button mat-raised-button color="primary" class="btn-block" (click)="sendForm()">Crear materia</button>
  
      </form>
    </mat-card>
  </div>