table.table1 {
  width: 70%; 
  margin-left: 15%; 
  margin-right: 15%;
    
  overflow: hidden;
}

.left-space {
  margin-top: 2%; 
  margin-left: 15%; 
}

.reviews {
  padding-bottom: 10vh;
}
/* 
.mat-cell {
  padding-top: 2vh;
  padding-bottom: 2vh;
} */