<app-toolbar></app-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Cambiar mi contraseña</mat-card-title>
      </mat-card-header>
      <br>
      <form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña actual" formControlName="currentPassword" type="password" > 
            <mat-error *ngIf="form.currentPassword.hasError('incorrect')">La contraseña ingresada es incorrecta</mat-error>
            <mat-error *ngIf="form.currentPassword.hasError('required')">Ingrese su contraseña</mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
                <mat-label><strong>Nueva contraseña</strong></mat-label>
                <input matInput placeholder="Nueva contraseña" formControlName="password" type="password">
                <mat-error *ngIf="form.password.hasError('required')">Ingrese su nueva contraseña</mat-error>
                <mat-error *ngIf="form.password.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label><strong>Repita nueva contraseña</strong></mat-label>
            <input matInput placeholder="Repita nueva contraseña" formControlName="confirmPassword" type="password" >
            
            <mat-error *ngIf="form.confirmPassword.hasError('required')">Confirme su nueva contraseña</mat-error>
            <mat-error *ngIf="form.confirmPassword.hasError('mustMatch')">Las contraseñas no son iguales</mat-error>
            
          </mat-form-field>
          <br>
          <br>
          <button mat-raised-button color="primary" class="btn-block">Editar mis datos</button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>