<br>
<br>
<br>
<br>
<div>
    <h1 class="center-text">Materias</h1>
    <div class="search-options"> 
        <mat-form-field class="option-size">
            <mat-label>Semestre</mat-label>
            <mat-select [(value)]="semesterSelected">
              <mat-option *ngFor="let semester of semester" [value]="semester.value">
                {{semester.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>  

        <mat-form-field class="option-margin option-size">
            <mat-label>Año</mat-label>
            <mat-select [(value)]="yearSelected">
              <mat-option *ngFor="let year of year" [value]="year.value" id="year">
                {{year.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        
        <button (click)="filter()" class="option-margin" mat-raised-button color="primary" >
            Filtrar
        </button>
    </div>
    
    <a class="material-icons add-button"  routerLink="/proffesor/subject/new"
        matTooltip="Nueva materia">
        add_box
    </a>

    
</div>

<table mat-table [dataSource]="subjectsData" multiTemplateDataRows class="mat-elevation-z8 table1">
    
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let subject"> <a [routerLink]="['/proffesor/subject/students',subject._id]">{{subject.name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="enrolled">
        <th mat-header-cell *matHeaderCellDef> Estudiantes Inscritos </th>
        <td mat-cell *matCellDef="let subject">{{subject.enrolledStudents.length}}</td>
    </ng-container>


    <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semestre </th>
        <td mat-cell *matCellDef="let subject"> {{subject.semester}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let subject"> {{subject.subjectCode}} </td>
    </ng-container>
    
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let subject"> {{subject.year}} </td>
    </ng-container>

    <ng-container matColumnDef="options" class="prueba">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let subject">
         
            <a class="material-icons calendar-button" [routerLink]="['/proffesor/task', subject._id]"
            matTooltip="Nueva tarea">
                post_add
            </a>

            <a class="material-icons calendar-button"  [routerLink]="['/subject/files', subject._id]"
            matTooltip="Lista de documentos">
                folder_shared
            </a>

        </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
        
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="'expanded'" *ngFor="let task of tasksData">
                <div class="example-element-detail" *ngIf="isIdSubjectIdTaskSubject(element._id, task.idSubject)">
                    <div class="example-element-description">
                        <a [routerLink]="['/proffesor/students/tasks',task._id, task.name]">{{task.name}}</a>
                    </div>

                    <div class="example-element-description" *ngIf='isTaskAvaliable(task.deadline) else noAvaliable'>
                        <strong>Fecha límite: {{task.deadline}}</strong>
                    </div>
                    
                    <ng-template #noAvaliable>
                        <div class="no-avaliable example-element-description">
                            <strong>Fecha límite: {{task.deadline}}</strong>
                        </div>    
                    </ng-template>
                    
                    <a class="material-icons calendar-button" [routerLink]="['/proffesor/task/edit/', task._id]"
                        matTooltip="Cambiar fecha">
                        calendar_today
                    </a>

                    <!-- <a [routerLink]="['/proffesor/students/tasks',task._id, task.name]"
                    class="material-icons icon" matTooltip="Cambiar fecha límite">
                        calendar_today
                    </a> -->

                </div>
            </div>
        </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>